body {
    margin: 0;
    overflow: hidden;
}

/* = Стили интерфейса ================================== *\
\* ===================================================== */

.float-container {
    position: absolute;
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    background-color: #7fbbf3;
    user-select: none;
    z-index: 3;
}

.align-right {
    right: 0;
}
.align-bottom {
    bottom: 0;
}

/* = Стили карты ======================================= *\
\* ===================================================== */

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#map {
    /* float: left; */
    background-color: aliceblue;
    padding: 40px;
    cursor: grab;
    user-select: none;
}

#map.ui-draggable-dragging { cursor: grabbing; }

.floor {
    position: absolute;
    display: block;
    z-index: 2;
    animation: 250ms 1 showup;
}

.floor.reverse {
    animation-name: 1 showdown;
}

@keyframes showup {
    from {
        transform: translate(0px, 50px);
        opacity: 0%;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 100%;
    }
}

@keyframes showdown {
    from {
        transform: translate(0px, -50px);
        opacity: 0%;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 100%;
    }
}

.floor.hide {
    display: none;
    z-index: 1;
    animation: 500ms 1 hideup;
}

.floor.hide.reverse {
    animation-name: hidedown;
}

@keyframes hideup {
    from {
        transform: translate(0px, 0px);
        opacity: 100%;
        display: block;
    }
    to {
        transform: translate(0px, -50px);
        opacity: 0%;
    }
}

@keyframes hidedown {
    from {
        transform: translate(0px, 0px);
        opacity: 100%;
        display: block;
    }
    to {
        transform: translate(0px, 50px);
        opacity: 0%;
    }
}

/* = Помещения ========================================= *\
\* ===================================================== */

polygon, rect {
    stroke: #000000;
    stroke-width: 3;
    stroke-linecap: square;
    stroke-linejoin: square;
    stroke-miterlimit: 25;
}

text {
    fill: #331b1b;
    text-anchor: middle;
    dominant-baseline: middle;
    cursor: pointer;
}

.corridor polygon, .corridor rect {
    fill: #7fbbf3;
}

.stairs polygon, .stairs rect {
    fill: #8ff37f;
}

.room polygon, .room rect {
    fill: #F37F81;
    cursor: pointer;
}
.room:hover polygon, .room:hover rect {
    fill: #d75456;
}
.room:hover text {
    fill: #B1E2F4;
}